$base06:    #000A0E;
$base05:    #001921;
$base04:    #042029;
$base03:    #002b36;
$base02:    #073642;
$base01-2:  #0B4959;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #A6B0B0;
$base3:     #BBC4C4;
$base4:     #eee8d5;
$base5:     #fdf6e3;

$yellow0:    #8E7014;
$yellow1:    #b58900;
$yellow2:    #CFA521;
$yellow3:    #F7CA3B;

$orange0:    #A23D13;
$orange1:    #cb4b16;
$orange2:    #E66A36;
$orange3:    #FF8B5B;

$red0:       #A82927;
$red1:       #dc322f;
$red2:       #FE5C4D;
$red3:       #FF8377;

$magenta0:   #B22268;
$magenta1:   #d33682;
$magenta2:   #d33682;
$magenta3:   #F75DA7;

$violet0:    #4A5A94;
$violet1:    #6c71c4;
$violet2:    #8389EB;
$violet3:    #9BA0E6;

$blue0:      #2D74A6;
$blue1:      #268bd2;
$blue2:      #34A0EC;
$blue3:      #57AFEC;

$cyan0:      #3A8882;
$cyan1:      #2aa198;
$cyan2:      #4CCAC1;
$cyan3:      #7BDBD4;

$green0:     #77822F;
$green1:     #859900;
$green2:     #A9BF1B;
$green3:     #CADF44;

$background:$base02;

$widget-text-color:$base0;
$widget-text-focus-color:$base3;
$widget-text-background:$base04;
$widget-text-shadow:$base06;
$widget-text-focus-background:$base03;
$widget-text-border:$base05;
$widget-text-disabled-color:$base01;

$widget-button-color:$base03;
$widget-button-background:$base00;
$widget-button-background2:$base0;
$widget-button-shadow:$base01;
$widget-button-focus-background:$base1;
$widget-button-focus-background2:$base2;
$widget-button-focus-shadow:$base0;

$widget-button-border:$base0;


