@import "colors";
@import "mixins";

@import url("http://fonts.googleapis.com/css?family=Homenaje");

.font {
    font-size:18px;
    font-family:'Homenaje', sans-serif;
}

.arrow {
    content:"";
    position:absolute;
    display:block;
    width:0px;
    height:0px;
    border:1px solid $base03;
    border-width:5px;
}
.down-arrow {
    @extend .arrow;
    border-color:$base03 transparent transparent transparent;
}
.up-arrow {
    @extend .arrow;
    border-color:transparent transparent $base03 transparent;
}
.left-arrow {
    @extend .arrow;
    border-color:transparent $base03 transparent transparent;
}
.right-arrow {
    @extend .arrow;
    border-color:transparent transparent transparent $base03;
}


.widget-common {
    display:inline-block;
    margin:0px;
    margin:4px 4px 0 0;
    position:relative;
    line-height:20px;
    font-size:16px;
    vertical-align:bottom;

    @extend .font;

    &.disabled, &.readonly {
        @include opacity(0.5,50);
        &.focus {
            outline:1px dotted rgba(255,0,0,1) !important;
        }
        .disabled, .readonly {
            @include opacity(1,100);
        }
    }
    &:focus {
        outline:none;
    }
    &.focus {
        outline:1px dotted rgba(255,0,0,0.7) !important;
    }
}
.inset-text {
    @include textshadow("0pt 1px 0px rgba(255,255,255, 0.6)");
}
.inset-content {
    @include boxshadow("0pt 1px 0px 0px rgba(255,255,255, 0.6)");
}
.inset-box{
    @include inset-box($widget-text-background, $widget-text-border, $widget-text-shadow);

    &.light {
        background-color:$widget-text-focus-background;
    }

    &.white {
        @include inset-box($widget-button-background,$widget-text-border,$widget-text-shadow);

        &.light {
            @include inset-box($widget-button-focus-background,$widget-text-border,$widget-text-shadow);
        }
    }

    &.red {
        @include inset-box($red1,$widget-text-border,$widget-text-shadow);

        &.light {
            @include inset-box($red2,$widget-text-border,$widget-text-shadow);
        }
    }
    &.orange {
        @include inset-box($orange1,$widget-text-border,$widget-text-shadow);

        &.light {
            @include inset-box($orange2,$widget-text-border,$widget-text-shadow);
        }
    }
    &.yellow {
        @include inset-box($yellow1,$widget-text-border,$widget-text-shadow);

        &.light {
            @include inset-box($yellow2,$widget-text-border,$widget-text-shadow);
        }
    }
    &.green {
        @include inset-box($green1,$widget-text-border,$widget-text-shadow);

        &.light {
            @include inset-box($green2,$widget-text-border,$widget-text-shadow);
        }
    }
    &.cyan {
        @include inset-box($cyan1,$widget-text-border,$widget-text-shadow);

        &.light {
            @include inset-box($cyan2,$widget-text-border,$widget-text-shadow);
        }
    }
    &.blue {
        @include inset-box($blue1,$widget-text-border,$widget-text-shadow);

        &.light {
            @include inset-box($blue2,$widget-text-border,$widget-text-shadow);
        }
    }
    &.violet {
        @include inset-box($violet1,$widget-text-border,$widget-text-shadow);

        &.light {
            @include inset-box($violet2,$widget-text-border,$widget-text-shadow);
        }
    }
}
.outset-box {

    @include outset-box($widget-button-background,$widget-button-background2,$widget-button-shadow);

    &.light {
        @include outset-box($widget-button-focus-background,$widget-button-focus-background2, $widget-button-focus-shadow);
    }
    &.dark {
        @include outset-box($base03,$base02,$base04);
        &.light {
            @include outset-box($base02,$base01-2,$base03);
        }
    }
    &.red {
        @include outset-box($red1,$red2,$red0);
        &.light {
            @include outset-box($red2,$red3,$red1);
        }
    }
    &.green {
        @include outset-box($green1,$green2,$green0);
        &.light {
            @include outset-box($green2,$green3,$green1);
        }
    }
    &.blue {
        @include outset-box($blue1,$blue2,$blue0);
        &.light {
            @include outset-box($blue2,$blue3,$blue1);
        }
    }
    &.yellow {
        @include outset-box($yellow1,$yellow2,$yellow0);
        &.light {
            @include outset-box($yellow2,$yellow3,$yellow1);
        }
    }
    &.orange {
        @include outset-box($orange1,$orange2,$orange0);
        &.light {
            @include outset-box($orange2,$orange3,$orange1);
        }
    }
    &.violet {
        @include outset-box($violet1,$violet2,$violet0);
        &.light {
            @include outset-box($violet2,$violet3,$violet1);
        }
    }
    &.cyan {
        @include outset-box($cyan1,$cyan2,$cyan0);
        &.light {
            @include outset-box($cyan2,$cyan3,$cyan1);
        }
    }
}
.text-content {
    color:$widget-text-color;
    padding:2px 4px;

    @extend .font;
    @include borderbox;
    @include textshadow("0pt 1px 3px rgba(0, 0, 0, 0.8)");
}
.disabled-text-content{
    color:$widget-text-disabled-color !important;
}

.button {
    @extend .font;
    @extend .outset-box;
    @extend .widget-common;
    @extend .inset-text;
    @extend .button-text-content;

    @include borderradius(4px);

    &.disabled, &.readonly {
        &:hover {
            @extend .outset-box;
        }
    }
    &.disabled {
        @extend .button-disabled-text-content;
        &.focus, &:hover {
            @extend .button-disabled-text-content;
            @extend .outset-box;
        }
    }
    &.focus, &:hover {
        @extend .outset-box.light;
    }
    .content {
        @extend .button-content;
    }
}
.button-text-content {
    color:$widget-button-color;
}
.button-content {
    display:block;
    padding:2px 4px;

    @include borderbox;
}
.button-disabled-text-content{
    color:$base01 !important;
    @include textshadow("0pt 1px 0px rgba(255,255,255, 0.3)");
}

.text {

    line-height:18px;

    @extend .widget-common;
    @extend .inset-box;
    @include borderradius(4px);

    &.disabled {
        input, textarea {
            @extend .disabled-text-content;
        }
    }

    input, textarea {
        background:none;
        border:none;
        width:100%;
        @extend .text-content;

        &:focus {
            outline:none;
        }
    }
    textarea {
        resize:none;
    }
    &.focus {
        @extend .inset-box.light;
        input, textarea {
            color:$widget-text-focus-color;
        }
    }
}

.popup {
    margin:0px;
    position:absolute;

    @extend .outset-box;
    @extend .button-text-content;
    @include borderradius(4px);
}
