.font, .widget-common, .button, .text, .text-content, .text input, .text textarea {
  font-size: 18px;
  font-family: 'Share', sans-serif; }

.arrow, .down-arrow, .up-arrow, .left-arrow, .right-arrow {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border: 1px solid #002b36;
  border-width: 5px; }

.down-arrow {
  border-color: #002b36 transparent transparent transparent; }

.up-arrow {
  border-color: transparent transparent #002b36 transparent; }

.left-arrow {
  border-color: transparent #002b36 transparent transparent; }

.right-arrow {
  border-color: transparent transparent transparent #002b36; }

.widget-common, .button, .text {
  display: inline-block;
  margin: 0px;
  margin: 4px 4px 0 0;
  position: relative;
  line-height: 20px;
  font-size: 16px;
  vertical-align: bottom; }
  .widget-common.disabled, .disabled.button, .disabled.text, .widget-common.readonly, .readonly.button, .readonly.text {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5; }
    .widget-common.disabled.focus, .disabled.focus.button, .disabled.focus.text, .widget-common.readonly.focus, .readonly.focus.button, .readonly.focus.text {
      outline: 1px dotted red !important; }
  .widget-common:focus, .button:focus, .text:focus {
    outline: none; }
  .widget-common.focus, .focus.button, .focus.text {
    outline: 1px dotted rgba(255, 0, 0, 0.7) !important; }

.inset-text, .button {
  -webkit-text-shadow: 0pt 1px 0px rgba(255,255,255, 0.6);
  -moz-text-shadow: 0pt 1px 0px rgba(255,255,255, 0.6);
  text-shadow: 0pt 1px 0px rgba(255,255,255, 0.6); }

.inset-content {
  -webkit-box-shadow: 0pt 1px 0px 0px rgba(255,255,255, 0.6);
  -moz-box-shadow: 0pt 1px 0px 0px rgba(255,255,255, 0.6);
  box-shadow: 0pt 1px 0px 0px rgba(255,255,255, 0.6); }

.inset-box, .text {
  background: #042029;
  border: 1px solid #001921;
  -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.1),                         0pt 1px 3px 0px rgba(0, 0, 0, 0.5) inset,                         0pt 1px 7px 0px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.1),                         0pt 1px 3px 0px rgba(0, 0, 0, 0.5) inset,                         0pt 1px 7px 0px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.1),                         0pt 1px 3px 0px rgba(0, 0, 0, 0.5) inset,                         0pt 1px 7px 0px rgba(0, 0, 0, 0.3) inset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .inset-box.focus, .focus.text {
    background-color: #002b36; }

.outset-box, .button, .button.disabled:hover, .button.readonly:hover, .button.disabled.focus, .popup {
  border: 1px solid #839496;
  background: -moz-linear-gradient(top, #839496 0%, #657b83 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #839496), color-stop(100%, #657b83));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #839496 0%, #657b83 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #839496 0%, #657b83 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #839496 0%, #657b83 100%);
  /* IE10+ */
  background: linear-gradient(top, #839496 0%, #657b83 100%);
  -webkit-box-shadow: 0pt 2px 0px 0px #586e75,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0pt 2px 0px 0px #586e75,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0pt 2px 0px 0px #586e75,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.light, .light.button, .light.button.disabled:hover, .light.button.readonly:hover, .light.button.disabled.focus, .button.focus, .button:hover, .light.popup {
    border: 1px solid #a6b0b0;
    background: -moz-linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6b0b0), color-stop(100%, #93a1a1));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    /* IE10+ */
    background: linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #839496,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #839496,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #839496,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.dark, .dark.button, .dark.button.disabled:hover, .dark.button.readonly:hover, .dark.button.disabled.focus, .dark.popup {
    border: 1px solid #073642;
    background: -moz-linear-gradient(top, #073642 0%, #002b36 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #073642), color-stop(100%, #002b36));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #073642 0%, #002b36 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #073642 0%, #002b36 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #073642 0%, #002b36 100%);
    /* IE10+ */
    background: linear-gradient(top, #073642 0%, #002b36 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #042029,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #042029,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #042029,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.red, .red.button, .red.button.disabled:hover, .red.button.readonly:hover, .red.button.disabled.focus, .red.popup {
    border: 1px solid #fe5c4d;
    background: -moz-linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe5c4d), color-stop(100%, #dc322f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    /* IE10+ */
    background: linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #a82927,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #a82927,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #a82927,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.green, .green.button, .green.button.disabled:hover, .green.button.readonly:hover, .green.button.disabled.focus, .green.popup {
    border: 1px solid #a9bf1b;
    background: -moz-linear-gradient(top, #a9bf1b 0%, #859900 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9bf1b), color-stop(100%, #859900));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a9bf1b 0%, #859900 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a9bf1b 0%, #859900 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a9bf1b 0%, #859900 100%);
    /* IE10+ */
    background: linear-gradient(top, #a9bf1b 0%, #859900 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #77822f,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #77822f,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #77822f,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.blue, .blue.button, .blue.button.disabled:hover, .blue.button.readonly:hover, .blue.button.disabled.focus, .blue.popup {
    border: 1px solid #34a0ec;
    background: -moz-linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34a0ec), color-stop(100%, #268bd2));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    /* IE10+ */
    background: linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #2d74a6,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #2d74a6,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #2d74a6,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.yellow, .yellow.button, .yellow.button.disabled:hover, .yellow.button.readonly:hover, .yellow.button.disabled.focus, .yellow.popup {
    border: 1px solid #cfa521;
    background: -moz-linear-gradient(top, #cfa521 0%, #b58900 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfa521), color-stop(100%, #b58900));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cfa521 0%, #b58900 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cfa521 0%, #b58900 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cfa521 0%, #b58900 100%);
    /* IE10+ */
    background: linear-gradient(top, #cfa521 0%, #b58900 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #8e7014,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #8e7014,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #8e7014,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.orange, .orange.button, .orange.button.disabled:hover, .orange.button.readonly:hover, .orange.button.disabled.focus, .orange.popup {
    border: 1px solid #e66a36;
    background: -moz-linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e66a36), color-stop(100%, #cb4b16));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    /* IE10+ */
    background: linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #a23d13,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #a23d13,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #a23d13,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.violet, .violet.button, .violet.button.disabled:hover, .violet.button.readonly:hover, .violet.button.disabled.focus, .violet.popup {
    border: 1px solid #8389eb;
    background: -moz-linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8389eb), color-stop(100%, #6c71c4));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    /* IE10+ */
    background: linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #4a5a94,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #4a5a94,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #4a5a94,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.cyan, .cyan.button, .cyan.button.disabled:hover, .cyan.button.readonly:hover, .cyan.button.disabled.focus, .cyan.popup {
    border: 1px solid #4ccac1;
    background: -moz-linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4ccac1), color-stop(100%, #2aa198));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    /* IE10+ */
    background: linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #3a8882,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #3a8882,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #3a8882,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }

.text-content, .text input, .text textarea {
  color: #839496;
  padding: 2px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.8);
  -moz-text-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.8);
  text-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.8); }

.disabled-text-content, .text.disabled input {
  color: #586e75 !important; }

.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.button-text-content, .button, .popup {
  color: #002b36; }

.button-content, .button .content {
  display: block;
  padding: 2px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.button-disabled-text-content, .button.disabled, .button.disabled.focus, .button.disabled:hover {
  color: #586e75 !important;
  -webkit-text-shadow: 0pt 1px 0px rgba(255,255,255, 0.3);
  -moz-text-shadow: 0pt 1px 0px rgba(255,255,255, 0.3);
  text-shadow: 0pt 1px 0px rgba(255,255,255, 0.3); }

.text {
  line-height: 18px; }
  .text input, .text textarea {
    background: none;
    border: none;
    width: 100%; }
    .text input:focus, .text textarea:focus {
      outline: none; }
  .text textarea {
    resize: none; }
  .text.focus input, .text.focus textarea {
    color: #eee8d5; }

.popup {
  margin: 0px;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
