@import "colors";
@import "mixins";

.font {
    font-size:18px;
    font-family:'Share', sans-serif;
}

.arrow {
    content:"";
    position:absolute;
    display:block;
    width:0px;
    height:0px;
    border:1px solid $base03;
    border-width:5px;
}
.down-arrow {
    @extend .arrow;
    border-color:$base03 transparent transparent transparent;
}
.up-arrow {
    @extend .arrow;
    border-color:transparent transparent $base03 transparent;
}
.left-arrow {
    @extend .arrow;
    border-color:transparent $base03 transparent transparent;
}
.right-arrow {
    @extend .arrow;
    border-color:transparent transparent transparent $base03;
}


.widget-common {
    display:inline-block;
    margin:0px;
    margin:4px 4px 0 0;
    position:relative;
    line-height:20px;
    font-size:16px;
    vertical-align:bottom;

    @extend .font;

    &.disabled, &.readonly {
        @include opacity(0.5,50);
        &.focus {
            outline:1px dotted rgba(255,0,0,1) !important;
        }
    }
    &:focus {
        outline:none;
    }
    &.focus {
        outline:1px dotted rgba(255,0,0,0.7) !important;
    }
}
.inset-text {
    @include textshadow("0pt 1px 0px rgba(255,255,255, 0.6)");
}
.inset-content {
    @include boxshadow("0pt 1px 0px 0px rgba(255,255,255, 0.6)");
}
.inset-box{
    background:$widget-text-background;
    border:1px solid $widget-text-border;
    @include boxshadow("0pt 1px 0pt rgba(255, 255, 255, 0.1),
                        0pt 1px 3px 0px rgba(0, 0, 0, 0.5) inset,
                        0pt 1px 7px 0px rgba(0, 0, 0, 0.3) inset");
    @include borderradius(4px);

    &.focus {
        background-color:$widget-text-focus-background;
    }
}
.outset-box {

    @include outset-box($widget-button-background,$widget-button-background2,$widget-button-shadow);

    &.light {
        @include outset-box($widget-button-focus-background,$widget-button-focus-background2, $widget-button-focus-shadow);
    }
    &.dark {
        @include outset-box($base03,$base02,$base04);
    }
    &.red {
        @include outset-box($red1,$red2,$red0);
    }
    &.green {
        @include outset-box($green1,$green2,$green0);
    }
    &.blue {
        @include outset-box($blue1,$blue2,$blue0);
    }
    &.yellow {
        @include outset-box($yellow1,$yellow2,$yellow0);
    }
    &.orange {
        @include outset-box($orange1,$orange2,$orange0);
    }
    &.violet {
        @include outset-box($violet1,$violet2,$violet0);
    }
    &.cyan {
        @include outset-box($cyan1,$cyan2,$cyan0);
    }
}
.text-content {
    color:$widget-text-color;
    padding:2px 4px;

    @extend .font;
    @include borderbox;
    @include textshadow("0pt 1px 3px rgba(0, 0, 0, 0.8)");
}
.disabled-text-content{
    color:$widget-text-disabled-color !important;
}

.button {
    @extend .font;
    @extend .outset-box;
    @extend .widget-common;
    @extend .inset-text;
    @extend .button-text-content;

    @include borderradius(4px);

    &.disabled, &.readonly {
        &:hover {
            @extend .outset-box;
        }
    }
    &.disabled {
        @extend .button-disabled-text-content;
        &.focus, &:hover {
            @extend .button-disabled-text-content;
            @extend .outset-box;
        }
    }
    &.focus, &:hover {
        @extend .outset-box.light;
    }
    .content {
        @extend .button-content;
    }
}
.button-text-content {
    color:$widget-button-color;
}
.button-content {
    display:block;
    padding:2px 4px;

    @include borderbox;
}
.button-disabled-text-content{
    color:$base01 !important;
    @include textshadow("0pt 1px 0px rgba(255,255,255, 0.3)");
}

.text {

    line-height:18px;

    @extend .widget-common;
    @extend .inset-box;

    &.disabled {
        input {
            @extend .disabled-text-content;
        }
    }

    input, textarea {
        background:none;
        border:none;
        width:100%;
        @extend .text-content;

        &:focus {
            outline:none;
        }
    }
    textarea {
        resize:none;
    }
    &.focus {
        input, textarea {
            color:$base4;
        }
    }
}

.popup {
    margin:0px;
    position:absolute;

    @extend .outset-box;
    @extend .button-text-content;
    @include borderradius(4px);
}
