@import url("http://fonts.googleapis.com/css?family=Homenaje");
.docs {
  background: #a6b0b0 !important;
  color: #586e75;
  font-family: 'Palatino Linotype','Book Antiqua',Palatino,FreeSerif,serif;
  font-size: 14px; }
  .docs code, .docs pre {
    background: #839496 !important;
    border: 1px solid #657b83 !important;
    color: #073642; }
  .docs pre code {
    background: none !important;
    border: none !important; }
  .docs h1, .docs h2, .docs h3, .docs h4, .docs h5, .docs h6 {
    color: #002b36; }
    .docs h1:first-letter, .docs h2:first-letter, .docs h3:first-letter, .docs h4:first-letter, .docs h5:first-letter, .docs h6:first-letter {
      -webkit-text-shadow: 1px 0px 0 #073642, -1px 0px 0 #073642, 0px 1px 0 #073642, 0px -1px 0 #073642;
      -moz-text-shadow: 1px 0px 0 #073642, -1px 0px 0 #073642, 0px 1px 0 #073642, 0px -1px 0 #073642;
      text-shadow: 1px 0px 0 #073642, -1px 0px 0 #073642, 0px 1px 0 #073642, 0px -1px 0 #073642; }
  .docs h1:first-letter {
    color: #859900; }
  .docs h3:first-letter {
    color: #268bd2; }

#container {
  color: #839496; }
  #container #background {
    background: #042029;
    border-left: 2px solid #888; }
  #container td.code, #container th.code {
    border-left: 2px solid #888;
    background-color: #042029;
    /*background-color:#073642;*/
    color: #93a1a1; }
    #container td.code .bp, #container th.code .bp {
      color: #999999; }
    #container td.code .c1, #container th.code .c1 {
      color: #586e75 !important;
      font-style: italic !important; }
    #container td.code .cm, #container th.code .cm {
      color: #586e75 !important;
      font-style: italic !important; }
    #container td.code .cp, #container th.code .cp {
      color: #586e75 !important;
      font-style: italic !important; }
    #container td.code .cs, #container th.code .cs {
      color: #586e75 !important;
      font-weight: bold !important;
      font-style: italic !important; }
    #container td.code .c, #container th.code .c {
      color: #586e75 !important;
      font-style: italic !important; }
    #container td.code .err, #container th.code .err {
      color: #dc322f !important;
      background: none !important; }
    #container td.code .gd .x, #container th.code .gd .x {
      color: #93a1a1 !important;
      background-color: #4d2d33 !important;
      display: inline-block; }
    #container td.code .gd, #container th.code .gd {
      color: #93a1a1 !important;
      background-color: #372c34 !important;
      display: inline-block; }
    #container td.code .ge, #container th.code .ge {
      color: #93a1a1 !important;
      font-style: italic !important; }
    #container td.code .gh, #container th.code .gh {
      color: #586e75 !important; }
    #container td.code .gi .x, #container th.code .gi .x {
      color: #93a1a1 !important;
      background-color: #355720 !important;
      display: inline-block; }
    #container td.code .gi, #container th.code .gi {
      color: #93a1a1 !important;
      background-color: #1a412b !important;
      display: inline-block; }
    #container td.code .go, #container th.code .go {
      color: #888888; }
    #container td.code .gp, #container th.code .gp {
      color: #555555; }
    #container td.code .gr, #container th.code .gr {
      color: #aa0000; }
    #container td.code .gs, #container th.code .gs {
      color: #93a1a1 !important;
      font-weight: bold !important; }
    #container td.code .gt, #container th.code .gt {
      color: #aa0000; }
    #container td.code .gu, #container th.code .gu {
      color: #6c71c4 !important; }
    #container td.code .il, #container th.code .il {
      color: #009999; }
    #container td.code .kc, #container th.code .kc {
      color: #b58900 !important; }
    #container td.code .kd, #container th.code .kd {
      color: #268bd2 !important; }
    #container td.code .kp, #container th.code .kp {
      color: #cb4b16 !important;
      font-weight: bold !important; }
    #container td.code .kr, #container th.code .kr {
      color: #d33682 !important;
      font-weight: bold !important; }
    #container td.code .kt, #container th.code .kt {
      color: #2aa198 !important; }
    #container td.code .k, #container th.code .k {
      color: #859900 !important; }
    #container td.code .mf, #container th.code .mf {
      color: #2aa198 !important; }
    #container td.code .mh, #container th.code .mh {
      color: #2aa198 !important; }
    #container td.code .mi, #container th.code .mi {
      color: #2aa198 !important; }
    #container td.code .mo, #container th.code .mo {
      color: #009999; }
    #container td.code .m, #container th.code .m {
      color: #2aa198 !important; }
    #container td.code .na, #container th.code .na {
      color: #268bd2 !important; }
    #container td.code .nb, #container th.code .nb {
      color: #b58900 !important; }
    #container td.code .nc, #container th.code .nc {
      color: #d33682 !important; }
    #container td.code .ne, #container th.code .ne {
      color: #268bd2 !important;
      font-weight: bold !important; }
    #container td.code .nf, #container th.code .nf {
      color: #268bd2 !important;
      font-weight: bold !important; }
    #container td.code .ni, #container th.code .ni {
      color: #800080; }
    #container td.code .nl, #container th.code .nl {
      color: #859900 !important; }
    #container td.code .nn, #container th.code .nn {
      color: #b58900 !important; }
    #container td.code .no, #container th.code .no {
      color: #b58900 !important; }
    #container td.code .nt, #container th.code .nt {
      color: #268bd2 !important;
      font-weight: bold !important; }
    #container td.code .nv, #container th.code .nv {
      color: #93A1A1 !important; }
    #container td.code .nx, #container th.code .nx {
      color: #93A1A1 !important; }
    #container td.code .n, #container th.code .n {
      color: #268bd2 !important; }
    #container td.code .ow, #container th.code .ow {
      color: #2aa198 !important;
      font-weight: bold !important; }
    #container td.code .o, #container th.code .o {
      color: #859900 !important; }
    #container td.code .p, #container th.code .p {
      color: #859900 !important; }
    #container td.code .py, #container th.code .py {
      color: #268bd2 !important; }
    #container td.code .s1, #container th.code .s1 {
      color: #2aa198 !important; }
    #container td.code .s2, #container th.code .s2 {
      color: #2aa198 !important; }
    #container td.code .sb, #container th.code .sb {
      color: #d14; }
    #container td.code .sc, #container th.code .sc {
      color: #d14; }
    #container td.code .sd, #container th.code .sd {
      color: #2aa198 !important; }
    #container td.code .se, #container th.code .se {
      color: #dc322f !important; }
    #container td.code .sh, #container th.code .sh {
      color: #d14; }
    #container td.code .si, #container th.code .si {
      color: #cb4b16 !important;
      font-weight: normal !important; }
    #container td.code .sr, #container th.code .sr {
      color: #ff0000 !important; }
    #container td.code .src, #container th.code .src {
      color: #cb4b16 !important; }
    #container td.code .sre, #container th.code .sre {
      color: #aa2a08 !important; }
    #container td.code .sro, #container th.code .sro {
      color: #b58900 !important; }
    #container td.code .sri, #container th.code .sri {
      color: #2aa198 !important; }
    #container td.code .ss, #container th.code .ss {
      color: #990073; }
    #container td.code .sx, #container th.code .sx {
      color: #d14; }
    #container td.code .s, #container th.code .s {
      color: #2aa198 !important; }
    #container td.code .vc, #container th.code .vc {
      color: #008080; }
    #container td.code .vg, #container th.code .vg {
      color: #268bd2 !important; }
    #container td.code .vi, #container th.code .vi {
      color: #268bd2 !important; }
    #container td.code .w, #container th.code .w {
      color: #bbbbbb; }
    #container td.code div .gd, #container td.code div .gd .x, #container td.code div .gi, #container td.code div .gi .x, #container th.code div .gd, #container th.code div .gd .x, #container th.code div .gi, #container th.code div .gi .x {
      display: inline-block;
      width: 100%; }

.font, .widget-common, .button, .text, .text-content, .text input, .text textarea, body, h4 {
  font-size: 18px;
  font-family: 'Homenaje', sans-serif; }

.arrow, .down-arrow, .up-arrow, .left-arrow, .right-arrow, .button .icon:before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border: 1px solid #002b36;
  border-width: 5px; }

.down-arrow {
  border-color: #002b36 transparent transparent transparent; }

.up-arrow {
  border-color: transparent transparent #002b36 transparent; }

.left-arrow {
  border-color: transparent #002b36 transparent transparent; }

.right-arrow, .button .icon:before {
  border-color: transparent transparent transparent #002b36; }

.widget-common, .button, .text {
  display: inline-block;
  margin: 0px;
  margin: 4px 4px 0 0;
  position: relative;
  line-height: 20px;
  font-size: 16px;
  vertical-align: bottom; }
  .widget-common.disabled, .disabled.button, .disabled.text, .widget-common.readonly, .readonly.button, .readonly.text {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5; }
    .widget-common.disabled.focus, .disabled.focus.button, .disabled.focus.text, .widget-common.readonly.focus, .readonly.focus.button, .readonly.focus.text {
      outline: 1px dotted red !important; }
    .widget-common.disabled .disabled, .disabled.button .disabled, .disabled.text .disabled, .widget-common.disabled .readonly, .disabled.button .readonly, .disabled.text .readonly, .widget-common.readonly .disabled, .readonly.button .disabled, .readonly.text .disabled, .widget-common.readonly .readonly, .readonly.button .readonly, .readonly.text .readonly {
      opacity: 1;
      filter: alpha(opacity=100);
      -ms-filter: "alpha(opacity=100)";
      -khtml-opacity: 1;
      -moz-opacity: 1; }
  .widget-common:focus, .button:focus, .text:focus {
    outline: none; }
  .widget-common.focus, .focus.button, .focus.text {
    outline: 1px dotted rgba(255, 0, 0, 0.7) !important; }

.inset-text, .button {
  -webkit-text-shadow: 0pt 1px 0px rgba(255,255,255, 0.6);
  -moz-text-shadow: 0pt 1px 0px rgba(255,255,255, 0.6);
  text-shadow: 0pt 1px 0px rgba(255,255,255, 0.6); }

.inset-content {
  -webkit-box-shadow: 0pt 1px 0px 0px rgba(255,255,255, 0.6);
  -moz-box-shadow: 0pt 1px 0px 0px rgba(255,255,255, 0.6);
  box-shadow: 0pt 1px 0px 0px rgba(255,255,255, 0.6); }

.inset-box, .text {
  background: #042029;
  -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
  -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
  box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
  .inset-box.light, .light.text, .text.focus {
    background-color: #002b36; }
  .inset-box.white, .white.text {
    background: #657b83;
    -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
    .inset-box.white.light, .white.light.text, .white.text.focus {
      background: #93a1a1;
      -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
  .inset-box.red, .red.text {
    background: #dc322f;
    -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
    .inset-box.red.light, .red.light.text, .red.text.focus {
      background: #fe5c4d;
      -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
  .inset-box.orange, .orange.text {
    background: #cb4b16;
    -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
    .inset-box.orange.light, .orange.light.text, .orange.text.focus {
      background: #e66a36;
      -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
  .inset-box.yellow, .yellow.text {
    background: #b58900;
    -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
    .inset-box.yellow.light, .yellow.light.text, .yellow.text.focus {
      background: #cfa521;
      -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
  .inset-box.green, .green.text {
    background: #859900;
    -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
    .inset-box.green.light, .green.light.text, .green.text.focus {
      background: #a9bf1b;
      -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
  .inset-box.cyan, .cyan.text {
    background: #2aa198;
    -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
    .inset-box.cyan.light, .cyan.light.text, .cyan.text.focus {
      background: #4ccac1;
      -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
  .inset-box.blue, .blue.text {
    background: #268bd2;
    -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
    .inset-box.blue.light, .blue.light.text, .blue.text.focus {
      background: #34a0ec;
      -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
  .inset-box.violet, .violet.text {
    background: #6c71c4;
    -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
    box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }
    .inset-box.violet.light, .violet.light.text, .violet.text.focus {
      background: #8389eb;
      -webkit-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      -moz-box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset;
      box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15),                         0pt 2px 1px 0px #000a0e inset,                         0pt 2px 7px 0px rgba(0, 10, 14, 0.8) inset; }

.outset-box, .button, .button.disabled:hover, .button.readonly:hover, .button.disabled.focus, .popup, .popup.disabled {
  border: 1px solid #839496;
  background: -moz-linear-gradient(top, #839496 0%, #657b83 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #839496), color-stop(100%, #657b83));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #839496 0%, #657b83 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #839496 0%, #657b83 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #839496 0%, #657b83 100%);
  /* IE10+ */
  background: linear-gradient(top, #839496 0%, #657b83 100%);
  -webkit-box-shadow: 0pt 2px 0px 0px #586e75,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0pt 2px 0px 0px #586e75,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0pt 2px 0px 0px #586e75,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.light, .light.button, .light.button.disabled:hover, .light.button.readonly:hover, .light.button.disabled.focus, .button.focus, .button:hover, .light.popup, .light.popup.disabled {
    border: 1px solid #a6b0b0;
    background: -moz-linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6b0b0), color-stop(100%, #93a1a1));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    /* IE10+ */
    background: linear-gradient(top, #a6b0b0 0%, #93a1a1 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #839496,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #839496,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #839496,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.dark, .dark.button, .dark.button.disabled:hover, .dark.button.readonly:hover, .dark.button.disabled.focus, .dark.popup, .dark.popup.disabled {
    border: 1px solid #073642;
    background: -moz-linear-gradient(top, #073642 0%, #002b36 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #073642), color-stop(100%, #002b36));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #073642 0%, #002b36 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #073642 0%, #002b36 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #073642 0%, #002b36 100%);
    /* IE10+ */
    background: linear-gradient(top, #073642 0%, #002b36 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #042029,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #042029,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #042029,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
    .outset-box.dark.light, .dark.light.button, .dark.light.button.disabled:hover, .dark.light.button.readonly:hover, .dark.light.button.disabled.focus, .dark.button.focus, .dark.button:hover, .dark.light.popup, .dark.light.popup.disabled {
      border: 1px solid #0b4959;
      background: -moz-linear-gradient(top, #0b4959 0%, #073642 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0b4959), color-stop(100%, #073642));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #0b4959 0%, #073642 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #0b4959 0%, #073642 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #0b4959 0%, #073642 100%);
      /* IE10+ */
      background: linear-gradient(top, #0b4959 0%, #073642 100%);
      -webkit-box-shadow: 0pt 2px 0px 0px #002b36,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0pt 2px 0px 0px #002b36,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0pt 2px 0px 0px #002b36,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.red, .red.button, .red.button.disabled:hover, .red.button.readonly:hover, .red.button.disabled.focus, .red.popup, .red.popup.disabled {
    border: 1px solid #fe5c4d;
    background: -moz-linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe5c4d), color-stop(100%, #dc322f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    /* IE10+ */
    background: linear-gradient(top, #fe5c4d 0%, #dc322f 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #a82927,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #a82927,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #a82927,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
    .outset-box.red.light, .red.light.button, .red.light.button.disabled:hover, .red.light.button.readonly:hover, .red.light.button.disabled.focus, .red.button.focus, .red.button:hover, .red.light.popup, .red.light.popup.disabled {
      border: 1px solid #ff8377;
      background: -moz-linear-gradient(top, #ff8377 0%, #fe5c4d 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8377), color-stop(100%, #fe5c4d));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ff8377 0%, #fe5c4d 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ff8377 0%, #fe5c4d 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ff8377 0%, #fe5c4d 100%);
      /* IE10+ */
      background: linear-gradient(top, #ff8377 0%, #fe5c4d 100%);
      -webkit-box-shadow: 0pt 2px 0px 0px #dc322f,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0pt 2px 0px 0px #dc322f,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0pt 2px 0px 0px #dc322f,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.green, .green.button, .green.button.disabled:hover, .green.button.readonly:hover, .green.button.disabled.focus, .green.popup, .green.popup.disabled {
    border: 1px solid #a9bf1b;
    background: -moz-linear-gradient(top, #a9bf1b 0%, #859900 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9bf1b), color-stop(100%, #859900));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a9bf1b 0%, #859900 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a9bf1b 0%, #859900 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a9bf1b 0%, #859900 100%);
    /* IE10+ */
    background: linear-gradient(top, #a9bf1b 0%, #859900 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #77822f,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #77822f,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #77822f,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
    .outset-box.green.light, .green.light.button, .green.light.button.disabled:hover, .green.light.button.readonly:hover, .green.light.button.disabled.focus, .green.button.focus, .green.button:hover, .green.light.popup, .green.light.popup.disabled {
      border: 1px solid #cadf44;
      background: -moz-linear-gradient(top, #cadf44 0%, #a9bf1b 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cadf44), color-stop(100%, #a9bf1b));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #cadf44 0%, #a9bf1b 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #cadf44 0%, #a9bf1b 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #cadf44 0%, #a9bf1b 100%);
      /* IE10+ */
      background: linear-gradient(top, #cadf44 0%, #a9bf1b 100%);
      -webkit-box-shadow: 0pt 2px 0px 0px #859900,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0pt 2px 0px 0px #859900,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0pt 2px 0px 0px #859900,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.blue, .blue.button, .blue.button.disabled:hover, .blue.button.readonly:hover, .blue.button.disabled.focus, .blue.popup, .blue.popup.disabled {
    border: 1px solid #34a0ec;
    background: -moz-linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34a0ec), color-stop(100%, #268bd2));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    /* IE10+ */
    background: linear-gradient(top, #34a0ec 0%, #268bd2 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #2d74a6,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #2d74a6,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #2d74a6,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
    .outset-box.blue.light, .blue.light.button, .blue.light.button.disabled:hover, .blue.light.button.readonly:hover, .blue.light.button.disabled.focus, .blue.button.focus, .blue.button:hover, .blue.light.popup, .blue.light.popup.disabled {
      border: 1px solid #57afec;
      background: -moz-linear-gradient(top, #57afec 0%, #34a0ec 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #57afec), color-stop(100%, #34a0ec));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #57afec 0%, #34a0ec 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #57afec 0%, #34a0ec 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #57afec 0%, #34a0ec 100%);
      /* IE10+ */
      background: linear-gradient(top, #57afec 0%, #34a0ec 100%);
      -webkit-box-shadow: 0pt 2px 0px 0px #268bd2,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0pt 2px 0px 0px #268bd2,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0pt 2px 0px 0px #268bd2,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.yellow, .yellow.button, .yellow.button.disabled:hover, .yellow.button.readonly:hover, .yellow.button.disabled.focus, .yellow.popup, .yellow.popup.disabled {
    border: 1px solid #cfa521;
    background: -moz-linear-gradient(top, #cfa521 0%, #b58900 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfa521), color-stop(100%, #b58900));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cfa521 0%, #b58900 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cfa521 0%, #b58900 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cfa521 0%, #b58900 100%);
    /* IE10+ */
    background: linear-gradient(top, #cfa521 0%, #b58900 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #8e7014,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #8e7014,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #8e7014,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
    .outset-box.yellow.light, .yellow.light.button, .yellow.light.button.disabled:hover, .yellow.light.button.readonly:hover, .yellow.light.button.disabled.focus, .yellow.button.focus, .yellow.button:hover, .yellow.light.popup, .yellow.light.popup.disabled {
      border: 1px solid #f7ca3b;
      background: -moz-linear-gradient(top, #f7ca3b 0%, #cfa521 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7ca3b), color-stop(100%, #cfa521));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #f7ca3b 0%, #cfa521 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #f7ca3b 0%, #cfa521 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #f7ca3b 0%, #cfa521 100%);
      /* IE10+ */
      background: linear-gradient(top, #f7ca3b 0%, #cfa521 100%);
      -webkit-box-shadow: 0pt 2px 0px 0px #b58900,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0pt 2px 0px 0px #b58900,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0pt 2px 0px 0px #b58900,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.orange, .orange.button, .orange.button.disabled:hover, .orange.button.readonly:hover, .orange.button.disabled.focus, .orange.popup, .orange.popup.disabled {
    border: 1px solid #e66a36;
    background: -moz-linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e66a36), color-stop(100%, #cb4b16));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    /* IE10+ */
    background: linear-gradient(top, #e66a36 0%, #cb4b16 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #a23d13,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #a23d13,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #a23d13,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
    .outset-box.orange.light, .orange.light.button, .orange.light.button.disabled:hover, .orange.light.button.readonly:hover, .orange.light.button.disabled.focus, .orange.button.focus, .orange.button:hover, .orange.light.popup, .orange.light.popup.disabled {
      border: 1px solid #ff8b5b;
      background: -moz-linear-gradient(top, #ff8b5b 0%, #e66a36 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8b5b), color-stop(100%, #e66a36));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ff8b5b 0%, #e66a36 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ff8b5b 0%, #e66a36 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ff8b5b 0%, #e66a36 100%);
      /* IE10+ */
      background: linear-gradient(top, #ff8b5b 0%, #e66a36 100%);
      -webkit-box-shadow: 0pt 2px 0px 0px #cb4b16,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0pt 2px 0px 0px #cb4b16,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0pt 2px 0px 0px #cb4b16,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.violet, .violet.button, .violet.button.disabled:hover, .violet.button.readonly:hover, .violet.button.disabled.focus, .violet.popup, .violet.popup.disabled {
    border: 1px solid #8389eb;
    background: -moz-linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8389eb), color-stop(100%, #6c71c4));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    /* IE10+ */
    background: linear-gradient(top, #8389eb 0%, #6c71c4 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #4a5a94,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #4a5a94,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #4a5a94,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
    .outset-box.violet.light, .violet.light.button, .violet.light.button.disabled:hover, .violet.light.button.readonly:hover, .violet.light.button.disabled.focus, .violet.button.focus, .violet.button:hover, .violet.light.popup, .violet.light.popup.disabled {
      border: 1px solid #9ba0e6;
      background: -moz-linear-gradient(top, #9ba0e6 0%, #8389eb 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9ba0e6), color-stop(100%, #8389eb));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #9ba0e6 0%, #8389eb 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #9ba0e6 0%, #8389eb 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #9ba0e6 0%, #8389eb 100%);
      /* IE10+ */
      background: linear-gradient(top, #9ba0e6 0%, #8389eb 100%);
      -webkit-box-shadow: 0pt 2px 0px 0px #6c71c4,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0pt 2px 0px 0px #6c71c4,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0pt 2px 0px 0px #6c71c4,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
  .outset-box.cyan, .cyan.button, .cyan.button.disabled:hover, .cyan.button.readonly:hover, .cyan.button.disabled.focus, .cyan.popup, .cyan.popup.disabled {
    border: 1px solid #4ccac1;
    background: -moz-linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4ccac1), color-stop(100%, #2aa198));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    /* IE10+ */
    background: linear-gradient(top, #4ccac1 0%, #2aa198 100%);
    -webkit-box-shadow: 0pt 2px 0px 0px #3a8882,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0pt 2px 0px 0px #3a8882,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0pt 2px 0px 0px #3a8882,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }
    .outset-box.cyan.light, .cyan.light.button, .cyan.light.button.disabled:hover, .cyan.light.button.readonly:hover, .cyan.light.button.disabled.focus, .cyan.button.focus, .cyan.button:hover, .cyan.light.popup, .cyan.light.popup.disabled {
      border: 1px solid #7bdbd4;
      background: -moz-linear-gradient(top, #7bdbd4 0%, #4ccac1 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bdbd4), color-stop(100%, #4ccac1));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #7bdbd4 0%, #4ccac1 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #7bdbd4 0%, #4ccac1 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #7bdbd4 0%, #4ccac1 100%);
      /* IE10+ */
      background: linear-gradient(top, #7bdbd4 0%, #4ccac1 100%);
      -webkit-box-shadow: 0pt 2px 0px 0px #2aa198,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0pt 2px 0px 0px #2aa198,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0pt 2px 0px 0px #2aa198,                         0pt 4px 4px 0px rgba(0, 0, 0, 0.5); }

.text-content, .text input, .text textarea {
  color: #839496;
  padding: 2px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.8);
  -moz-text-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.8);
  text-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.8); }

.disabled-text-content, .text.disabled input, .text.disabled textarea {
  color: #586e75 !important; }

.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.button-text-content, .button, .popup {
  color: #002b36; }

.button-content, .button .content {
  display: block;
  padding: 2px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.button-disabled-text-content, .button.disabled, .button.disabled.focus, .button.disabled:hover {
  color: #586e75 !important;
  -webkit-text-shadow: 0pt 1px 0px rgba(255,255,255, 0.3);
  -moz-text-shadow: 0pt 1px 0px rgba(255,255,255, 0.3);
  text-shadow: 0pt 1px 0px rgba(255,255,255, 0.3); }

.text {
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .text input, .text textarea {
    background: none;
    border: none;
    width: 100%; }
    .text input:focus, .text textarea:focus {
      outline: none; }
  .text textarea {
    resize: none; }
  .text.focus input, .text.focus textarea {
    color: #bbc4c4; }

.popup {
  margin: 0px;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

body {
  background: #073642; }

a {
  color: #cb4b16; }
  a:visited {
    color: #dc322f; }
  a.source {
    color: #333; }

h4 {
  color: #a6b0b0; }

#qunit-header {
  margin-top: 4px !important; }

td {
  color: #839496; }

#popups th:first-child {
  width: 150px; }

form {
  display: inline-block; }

.float {
  padding-bottom: 6px;
  margin: 5px 5px 0px 0px;
  background: #073642;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .float th {
    font-weight: normal;
    font-variant: small-caps;
    font-weight: normal;
    text-align: left;
    color: #839496;
    -webkit-text-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.8);
    text-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.8); }
    .float th.table-header {
      text-align: center;
      background: #042029;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
  .float .calendar th {
    color: #002b36; }
  .float .not-standard {
    background: #cb4b16;
    color: #bbc4c4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 6px 0px 7px 0px;
    margin-top: 6px;
    width: 100px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-text-shadow: 0pt 1px 3px rgba(0, 0, 0, 1);
    -moz-text-shadow: 0pt 1px 3px rgba(0, 0, 0, 1);
    text-shadow: 0pt 1px 3px rgba(0, 0, 0, 1); }
  .float.dummy {
    float: none; }

.button, .text, .textarea, .colorinput, .single-select,
.dateinput, .stepper, .slider, .filepicker {
  width: 100px; }

.menulist {
  min-width: 100px; }

.calendar th {
  width: auto !important; }

.colorpicker.dummy, .colorpicker.dummy.focus {
  display: inline-block !important; }

.text.a, .text.b, .text.c {
  padding-left: 10px;
  width: 80px !important; }
  .text.a:before, .text.b:before, .text.c:before {
    content: "A:";
    color: #839496;
    display: inline;
    position: absolute;
    left: 2px;
    top: 50%;
    margin-top: -8px;
    font-size: 0.85em;
    line-height: 18px; }
.text.a:after {
  content: "€";
  color: #eee8d5;
  display: inline;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -10px;
  font-size: 0.9em;
  line-height: 19px; }
.text.b:before {
  content: "B:"; }
.text.c:before {
  content: "C:"; }

.button:hover .icon {
  background: #a9bf1b; }
.button .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #002b36;
  background: #859900;
  vertical-align: sub;
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }
  .button .icon:before {
    margin-top: -5px;
    margin-left: -2px;
    left: 50%;
    top: 50%; }

.dummy {
  position: relative !important;
  z-index: 0 !important;
  margin: 4px 4px 0 0 !important; }
