@mixin borderradius($options)
{
    -webkit-border-radius:#{$options};
       -moz-border-radius:#{$options};
         -o-border-radius:#{$options};
            border-radius:#{$options};
}
@mixin hgradient($start-color1,$end-color1,$start-color2, $end-color2){
    background: -moz-linear-gradient(left, $start-color1 0%, $end-color1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color1), color-stop(100%,$end-color1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $start-color1 0%,$end-color1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $start-color1 0%,$end-color1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $start-color1 0%,$end-color1 100%); /* IE10+ */
    background: linear-gradient(left, $start-color1 0%,$end-color1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color2', endColorstr='$start-color2',GradientType=1 ); /* IE6-9 */
}
@mixin vgradient($start-color1,$end-color1,$start-color2, $end-color2){
    background: -moz-linear-gradient(top, $start-color1 0%, $end-color1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color1), color-stop(100%,$end-color1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $start-color1 0%,$end-color1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $start-color1 0%,$end-color1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $start-color1 0%,$end-color1 100%); /* IE10+ */
    background: linear-gradient(top, $start-color1 0%,$end-color1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color2', endColorstr='$start-color2',GradientType=0 ); /* IE6-9 */
}

body {
    font-family:"Arial";
    background:#666;
}
code {
    background:#777 !important;
    border:1px solid #555 !important;
}
a {
	color:#003b99;

	&:visited {
		color:#002c66;
	}
	&.source {
		color:#333;
	}
}

.docs {
	pre {
		background:#777 !important;
	    border:1px solid #555 !important;
		code {
			background:none !important;
			border:none !important;
		}
	}
}

#qunit-header {
	margin-top:4px !important;
}

#container {
	#background {
		background:#333;
		border-left:2px solid #888;
	}
	td, th {
		&.code {
			
			background:#333;
			border-left:2px solid #888;

			// operators
			.o {
				
			}
			// strings
			.s2 {
				color:#73ba35;
			}
			// keywords
			.k {
				color:#006cff;
			}
			// number
			.mi {
				color:#d77205;
			}
			// boolean
			.kc {
				color:#d7ad05;
			}
			// 
			.nb {
				@extend .k;				
			}
			.nv {
				color:#0078cc;
			}
			// function
			.nf {
				color:#2dadff;
			}
			// others
			.nx {
				color:#999;
			}
			// member
			.vi {
				color:#2dadff;
			}
			// integer
			.mi {
				
			}
			// paranthesis
			.p {
				color:#ccc;
			}
			// regex
			.sr {
				
			}
			.err {
				color:#f911b5;
				border:none;
			}
		}
	}	
}
.colorpickerdialog {
	&.dummy, &.dummy.focus {
		display:inline-block !important;
	}
}

.text {

	&.a, &.b, &.c
	{
		padding-left:20px;
		width:80px !important;
		
		&:before {
			content:"A:";
			color:#898989;
			display:inline;
			position:absolute;
			left:2px;
			font-size:0.85em;
			line-height:18px;
		}
		
		
	}
	&.a:after {
		content:"€";
		color:#999;
		display:inline;
		position:absolute;
		right:2px;
		font-size:0.9em;
		line-height:19px;
	}
	&.b:before {
		content:"B:";
	}
	&.c:before {
		content:"C:";
	}
}

.button {
	&:hover {
		.icon {
			background:#2dadff;
		}
	}
	.icon {
		display:inline-block;
		width:14px;
		height:14px;
		border:1px solid #444;
		background:#006cff;
		vertical-align:sub;
		position:relative;
		@include borderradius(8px);

		&:before {
            content:""; 
            position:absolute;
            display:block;
            width:0px;
            height:0px;
            border:1px solid #333;
            border-color:transparent transparent transparent #333;
            border-width:4px;

            margin-top:-4px;
            margin-left:-2px;
            left:50%;
            top:50%;
        }
	}
}