.button {
    @extend .font;
    @extend .outset-box;
    @extend .widget-common;
    @extend .inset-text;
    @extend .button-text-content;

    @include borderradius(4px);

    &.disabled, &.readonly {
        &:hover {
            @extend .outset-box;
        }
    }
    &.disabled {
        @extend .button-disabled-text-content;
        &.focus, &:hover {
            @extend .button-disabled-text-content;
            @extend .outset-box;
        }
    }
    &.focus, &:hover {
        @extend .outset-box.light;
    }
    .content {
        @extend .button-content;
    }
}
.button-text-content {
    color:$widget-button-color;
}
.button-content {
    display:block;
    padding:2px 4px;

    @include borderbox;
}
.button-disabled-text-content{
    color:$base01 !important;
    @include textshadow("0pt 1px 0px rgba(255,255,255, 0.3)");
}
