@import "widgets/color-ramp";

.colorinput {
    @extend .button;

    .color {
        display:block;
        margin:2px;
        height:100%;
        font-size:14px;
        text-indent:3px;
        line-height:20px;
        border:1px solid $widget-button-border;
        @include borderradius(2px);
    }
}
.gridpicker {
    @extend .widget-common;

    background:$widget-button-background;
    border:1px solid $widget-button-border;

    width:100px;
    height:100px;
    overflow:hidden;

    .cursor {
        position:absolute;
        display:block;
        border:1px solid #000;
        width:12px;
        height:12px;
        margin-left:-1px;
        margin-top:-1px;

        @include borderradius(8px);

        &:before {
            content:"";
            position:absolute;
            display:block;
            border:1px solid #fff;
            width:10px;
            height:10px;
            left:50%;
            top:50%;
            margin-left:-6px;
            margin-top:-6px;

            @include borderradius(6px);
        }
    }
    &.horizontal {
        height:12px;

        .cursor {
            margin-top:4px;
            height:14px;
            width:1px;
            background:white;
            &:before, &:after {
                display:none;
            }
        }
    }
    &.vertical {
        width:12px;

        .cursor {
            margin-left:4px;
            width:14px;
            height:1px;
            background:white;
            @include borderradius(0px);
            &:before, &:after {
                display:none;
            }
        }
    }
}

.layer {

    display:block;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;

}
.colorpicker {

    line-height:14px;
    @extend .widget-common;
    @extend .popup;

    margin-top:4px;

    padding:0 0 3px 22px;

    &.disabled {
        .radio.checked {
            &:after {
                @extend .outset-box.light;
            }
        }
    }

    .gridpicker {
        width:160px;
        height:160px;
        margin:0;
        margin-right:4px;
        margin-top:4px;
        &.vertical {
            width:12px;
        }
    }

    .oldColor, .newColor {
        background:$widget-text-background;
        display:block;
        position:absolute;
        width:12px;
        height:81px;
        left:4px;
        border:1px solid $widget-button-border;
    }
    .oldColor {
        border-top:none;
        top:84px;
    }
    .newColor {
        border-bottom:none;
        top:4px;
    }

    .radio {
        float:right;
        width:12px;
        height:20px;
        margin-top:3px;
        margin-right:-1px;
        background-color:$widget-text-background;

        @include borderradius(4px 0 0 4px);

        &.focus{
            background-color:$widget-text-focus-background;
        }
        &.checked {
            &:after {
                @include borderradius(3px 0 0 3px);
                width:8px;
                height:13px;
                left:1px;
                top:1px;
            }
        }
        &.red {
            margin-top:5px;
        }
    }

    .text{
        float:right;
        clear:right;

        height:20px;
        margin-top:3px;

        @include borderradius( 4px );

        &.red {
            margin-top:5px;
        }
        &.red, &.green, &.blue, &.hue, &.saturation, &.value {
            @include borderradius( 0 4px 4px 0 );
            background-color:$widget-text-background;

            &.focus{
                background-color:$widget-text-focus-background;
            }
        }
        &.red, &.green, &.blue, &.hue, &.saturation, &.value, &.hex {
            width:40px;
            padding-left:15px;
            line-height:14px;
            input {
                font-size:13px;
                line-height:14px;
            }
            &:before {
                content:"R:";
                color:#898989;
                display:inline;
                position:absolute;
                left:2px;
                font-size:13px;
                line-height:18px;
            }
        }
        &.green:before {
            content:"G:";
        }
        &.blue:before {
            content:"B:";
        }

        &.hue, &.saturation, &.value {
            &:after {
                content:"";
                color:#ccc;
                display:inline;
                position:absolute;
                right:2px;
                font-size:13px;
                line-height:18px;
            }
        }

        &.hue {
            &:before {
                content:"H:";
            }
            &:after {
                content:"°";
            }
        }
        &.saturation, &.value {
            &:after {
                content:"%";
            }
        }
        &.saturation {
            &:before {
                content:"S:";
            }
        }
        &.value {
            &:before {
                content:"V:";
            }
        }

        &.hex {
            padding-left:13px;
            width:53px;
            input {
                font-size:14px;
                line-height:16px;
            }
            &:before {
                content:"#";
                text-indent:2px;
                top:2px;
            }
        }
    }
}
