.single-select
  @extend .button

  .value
    display: block
    padding: 2px 20px 2px 4px
    white-space: nowrap
    overflow: hidden
    @include overflow(ellipsis)

  &:before
    @extend .arrow
    @extend .arrow.down

    margin-top: -2px
    right: 6px
    top: 50%


