.text {

    line-height:18px;

    @extend .widget-common;
    @extend .inset-box;
    @include borderradius(4px);

    &.disabled {
        input, textarea {
            @extend .disabled-text-content;
        }
    }

    input, textarea {
        background:none;
        border:none;
        width:100%;
        @extend .text-content;

        &:focus {
            outline:none;
        }
    }
    textarea {
        resize:none;
    }
    &.focus {
        @extend .inset-box.light;
        input, textarea {
            color:$widget-text-focus-color;
        }
    }
}
