extends layout

block title
  = 'Index'

block content

  div
    div
      div
        input(type='text')
        input(type='checkbox')

block scripts
  :coffeescript
    window.onload = ->
      widget 'bubbling_focus', 'input'
      widget 'checked_input', 'input[type="checkbox"]'
      widget 'test_proto', 'input', media: { min: 1000 }
