!!!5

html
  head
    title
      block title

    block head

    meta(charset='utf-8')
    block meta

    link(href='../css/widgets.css', media='screen', rel='stylesheet')
    block stylesheets

    script(src='../lib/widgets.js')
    block scripts

  body
    block content
