script(src='https://code.jquery.com/jquery-git2.min.js')
script(src='../bower_components/mixins-js/lib/mixins.js')
script(src='../lib/widgets.js')
//- script(src='../lib/widgets.utils.js')
script(src='../lib/widgets.mixins.js')
script(src='../lib/widgets.common.js')
